{% extends 'base.html' %}
        
        {% block content %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Events Calendar</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Last Updated November 26, 2023</div>
                                
                        </header>
        

                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">♦♦♦View all my upcoming tournaments, classes, camps, and simuls here♦♦♦<br><br>

                                ♦♦Calendar will be updated as soon as a new event is scheduled♦♦<br><br>
                                
                                ♦Please contact me if you have any questions♦
                            </p>

                            <hr>

                            <p class="fs-5 mb-4"> 
                                <strong>October 2023</strong> <br>
                                    <ul>    
                                    <li>October 17-November 28 (no class Nov. 7)  6-WEEK CLASS (6:30-7:30pm)➔Cranberry Township Municipal Center.  <a href="https://anc.apm.activecommunities.com/cranberrytownship/activity/search/detail/10651?onlineSiteId=0&from_original_cui=true">Register Here.</a></li>
                                    </ul>
                                
                            </p>

                            <hr>
                            
                            <p class="fs-5 mb-4"> 
                                <strong>November 2023</strong> <br>
                                    <ul>    
                                    <li>November 4 (Saturday).  TOURNAMENT (9:30am-3:30pm)➔ South Butler Community Library (Saxonburg).  <a href="https://gpchess.net/tournaments">2nd Saxonburg Chess Challenge.</a></li>
                                    </ul>
                                
                            </p>

                            <hr>

                           <p class="fs-5 mb-4"> 
                                <strong>December 2023</strong> <br>
                                
                            </p>

                            <hr>
                        
                        </section>
                    </article>
                    
                </div>
            </div>
        </div>
     


        {% endblock content %}